h1 {
    color:rgb(23, 69, 197);
}
button{
    color:cadetblue;
}
body{
    background-color: yellow;
}
/* for id use# */
#head{ 
    color:rgb(50, 141, 153);
}
/* gor class use .  */
.class{

}
/* inline <button style=color=rgb, <style>button and style sheet */
/* text property */
#helo{
    text-align:right;
    font-weight: bold;
}
h1{
    text-decoration: black underline  ;
}
a{
    text-decoration: none;
    color:rgb(237, 14, 14);
}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#helo{
    font-size:20x;
    line-height: 25px;
    text-transform: uppercase ;  /*lowercase,capitalize*/
}
#main{
    text-align:center;
    text-transform: uppercase;
    text-decoration: none;
    color:chocolate;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
span{
    height:20px;
    width: 20px;
}
#outer{
    height:200px;
    text-align:center;
}
#top{
    height: 20px;
    display: inline-block;
    margin-right:10px;
    
}